body{
    width: 250px;
    height:425px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 11px;
}

span img {
    margin-left: 10px;
    margin-right: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -10px;ß
  }

  .login-input {
      height: 35px;
      background-color: #D3C3C3;
      border-color: #000000;
      flex: 1;
      flex-direction: row;
      align-items: center;
      padding-right: 90px;
      border-radius: 100px;
      margin-top: 0px;
  }

  .bottom-margin {
      margin-bottom: 30px;
  }

  .button-style {
    height: 35px;
    background-color: #FFFFFF;
    border-color: #000000;
    flex: 1;
    border-width: 1px;
    text-align: center;
    flex-direction: row;
    margin-left: 15px;
    padding-left: 80px;
    padding-right: 85px;
    align-items: center;
  }


  .login-input {
      height: 35px;
      background-color: #D3C3C3;
      border-color: #000000;
      flex: 1;
      flex-direction: row;
      align-items: center;
      padding-right: 90px;
      border-radius: 100px;
  }

  .bottom-margin {
      margin-bottom: 30px;
  }

  .button-style {
    height: 35px;
    background-color: #FFFFFF;
    border-color: #000000;
    flex: 1;
    border-width: 1px;
    text-align: center;
    flex-direction: row;
    margin-left: 15px;
    padding-left: 80px;
    padding-right: 85px;
    align-items: center;
  }

