body{
    width: 250px;
    height:400px;
    margin: 15px;
}

/* h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
} */

p {
    margin-top: 3px;
    margin-bottom: 2px;
    font-size: 15px;
}

button:hover {
    background-color:aquamarine;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
  }

  div
{
    text-align: center;
    bottom: 0;
}

span img
{
    width: 40px;
    height: 40px;
    margin-top: 45px;
}

span:first-child
{
    float: left;
}

span:last-child
{
    float: right;
}

#rectangle1 {
    height: 50px;
    width: 249px;
    background-color: #e9e7fd;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#rectangle2 {
    height: 50px;
    width: 249px;
    background-color: #C8F7DC;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#rectangle3 {
    height: 50px;
    width: 249px;
    background-color: #FFD3E2;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    padding-left: 25px;
    padding-top: 0px;
    font-size: 13px;
    float: left;
}

#pic1 {
    width: 20px;
    height: 20px;
    margin-top: 0px;
    padding-left: 0px;
    margin-right: -18px;
}

#pic2 {
    width: 20px;
    height: 20px;
    margin-top: 0px;
    padding-left: 0px;
    margin-right: -18px;
}

#pic3 {
    width: 20px;
    height: 20px;
    margin-top: 0px;
    padding-left: 0px;
    margin-right: -18px;
}

