@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Rubik', sans-serif;
  color: #fff;
  background-color: hsl(226, 43%, 10%);
}
.container{
  width: 80%;
  height: 70%;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(4, 1fr);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.profile__card{
  grid-row: 1/3;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: hsl(235, 46%, 20%);
  border-radius: 20px;
}
.profile__card--info{
  height: 80%;
  background-color: hsl(246, 80%, 60%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.profile__card--info > *{
  margin-left: 2.5em;
}
.profile__card--info-text p {
  color: hsl(236, 100%, 87%); 
  font-size: 1vw;
}
.profile__card--info-text h2{
  font-weight: 300;
  font-size: 3vw;
}
.profile__card--info img{
  width: 30%;
  border-radius: 50%;
  border: 3px solid #fff;
  margin: 3em;
}
.profile__card--type {
  height: 30%;
  background-color: hsl(235, 46%, 20%);
  border-radius: 0 0 20px 20px;
}
.profile__card--type ul{
  width: 75%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
}
.profile__card--type li{
  font-size: 1vw;
  font-weight: 400;
  color: hsl(236, 100%, 87%);
}
.profile__card--type li:hover, 
.profile__card--type li:active{
  color: #fff;
  cursor: pointer;
}
.status__item{
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.status__item--image{
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.status__item--image img {
  height: 80px;
  margin: 0 1.5em .5em 0;
}
.status__item--info{
  height: 85%;
  background-color: hsl(235, 46%, 20%);
  border-radius: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.status__item--info h2{
  font-weight: 400;
  font-size: 3vw;
}
.status__item--info p {
  color: hsl(236, 100%, 87%);
}
.status__item--info-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: hsl(236, 100%, 87%);}

.status__item--info-title p{font-size: 2vw;}
.status__item--info-title h3{font-size: 1vw;}
.status__item--info:hover{
  background-color: hsl(235, 45%, 61%);
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .container{
    width: 80vw;
    display: flex;
    flex-direction: column;
  }
  .profile__card--info{
    flex-direction: row;
  }
  .profile__card--info img{
    width: 15vw;
  }
  .profile__card--info-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 0;
  }
  .profile__card--info-text p {
    font-size: 3vw;
  }
  .profile__card--info-text h2 {
    font-size: 6vw;
  }
  .profile__card--type ul{
    margin-top: 1em;
    flex-direction: row;
  }
  .profile__card--type ul li{
    font-size: 2vw;
  }
  .status__item--info-title h3,
  .status__item--info-title p{
    font-size: 3vw;
  }
}